
<div class="flex flex-col flex-auto min-w-0">


  <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <div  class="flex flex-wrap items-center font-medium">
        <div>
          <a  class="whitespace-nowrap text-primary-500">SIR</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
              <mat-icon
              class="fuse-horizontal-navigation-item-icon"
              [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
              <a  class="ml-1 text-primary-500">Maestro</a>
          </div>
      </div>
          <div class="mt-2"><h2  class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">Reparación</h2>
      </div>
  </div>
  </div>
<div class="bg-white dark:bg-gray-800 shadow-sm rounded-lg p-6 border">
  <h3 class="text-lg font-semibold text-gray-700 dark:text-gray-300 mb-4">Filtro de búsqueda</h3>
  
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 items-end">
    <!-- Categoría Reparación -->
    <div class="sm:col-span-2">
      <label class="block text-gray-700 dark:text-gray-300 font-medium mb-2">Categoría Reparación</label>
      <p-dropdown 
        [options]="categorias"
        [(ngModel)]="categoriaSeleccionada"
        placeholder="Seleccione categoría"
        class="w-full">
      </p-dropdown>
    </div>

    <!-- Botón Buscar -->
    <div>
      <p-button 
        severity="success"
        icon="pi pi-search"
        label="Buscar"
        (click)="buscar()"
        class="w-full">
      </p-button>
    </div>
  </div>
</div>
